version: '3.8'
services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      # Esto conecta el archivo de tu PC con el del contenedor
      - ./database.db:/app/database.db
  
  db_mock:
    image: redis:alpine
